<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewBag.Title = "Home Page";
    }

</head>
<body>

    <!-- PRELOADER -->
    <div id="st-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
    <!-- /PRELOADER -->
    <!-- HEADER -->
    <!-- /HEADER -->
    <!-- SLIDER -->
    <section id="slider">
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('../../images/carousel/Coffee.jpg');">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1>AJ Sigmon</h1>
                                <h2>Web Developer</h2>
                                <p>With a focus on back-end C# development.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url('../../images/carousel/Coffee.jpg');">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7">
                                <h1>AJ Sigmon </h1>
                                <h2>Knack for Technology</h2>
                                <p>With 5 years of prior technology experience in Networking/Infrasture.</p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="item" style="background-image: url(images/slider/03.jpg)">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1>You are entire </h1>
                                    <h2>creative world</h2>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(images/slider/04.jpg)">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1>You are entire </h1>
                                    <h2>creative world</h2>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div> <!--/#home-carousel-->
    </section>
    <!-- /SLIDER -->
    <!-- SERVICES -->

    <section class="title-header skills-header" id="skills-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Skills</h1>
                        <span class="st-border"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-4 col-sm-6 st-service">
        <h2><i class="fa fa-desktop"></i>Front End Development</h2>
        <p>Visual Studio, MVC, HTML, CSS, Javascript, JQuery, & Bootstrap.</p>
    </div>

    <div class="col-md-4 col-sm-6 st-service">
        <h2><i class="fa fa-cogs"></i> Operating Systems</h2>
        <p>Professional experience with Linux & Windows terminals, and file systems.</p>
    </div>

    <div class="col-md-4 col-sm-6 st-service">
        <h2><i class="fa fa-code"></i> Clean Development</h2>
        <p>Coding with the big picture in mind, considering optimization, & scalibility.</p>
    </div>

    <div class="col-md-4 col-sm-6 st-service">
        <h2><i class="fa fa-dashboard"></i> Back-End Development</h2>
        <p>C#, SQL, Angular JS, & Web API.</p>
    </div>

    <div class="col-md-4 col-sm-6 st-service">
        <h2><i class="fa fa-life-ring"></i> Customer Support</h2>
        <p>Experience with supporting a range of customers all the way up to the C level.</p>
    </div>

    <div class="col-md-4 col-sm-6 st-service">
        <h2><i class="fa fa-weixin"></i> Work Culture</h2>
        <p>Experience with the different types of<br /> company cultures. Including Startup & <br />Large Corporate environments.</p>
    </div>


    <!-- /SERVICES -->
    <!-- OUR WORKS -->
    <!-- /OUR WORKS -->
    <!-- PRICING -->
    <!-- /PRICING -->
    <!-- OUR TEAM -->
    <!-- /OUR TEAM -->
    <!-- ABOUT US -->
   
        <!-- /ABOUT US -->
        <!-- TESTIMONIAL -->
        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="overlay"></div>
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="st-testimonials">

                            <div class="item active text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                                <div class="st-border"></div>
                                <div class="client-info">
                                    <h5>Tom Roof</h5>
                                    <span>CEO of Domain.com</span>
                                </div>
                            </div>

                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cumconsectetur adipisicing elit. Amet dolore"</p>
                                <div class="st-border"></div>
                                <div class="client-info">
                                    <h5>Mustafiz</h5>
                                    <span>CEO of Domain.com</span>
                                </div>
                            </div>

                            <div class="item text-center">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem autem possimus laborum, ducimus vel rerum asperiores delectus, suscipit voluptate mollitia, ullam perspiciatis voluptates!"</p>
                                <div class="st-border"></div>
                                <div class="client-info">
                                    <h5>Sean Hynes</h5>
                                    <span>CEO of Domain.com</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- /TESTIMONIAL -->
    <!-- FUN FACTS -->
    <section id="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <h3><i class="fa fa-thumbs-o-up"></i> <span class="st-counter">365</span></h3>
                        <p>Happy Clients</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <h3><i class="fa fa-briefcase fa-6"></i> <span class="st-counter">987</span></h3>
                        <p>Completed Projects</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <h3><i class="fa fa-coffee"></i> <span class="st-counter">29734</span></h3>
                        <p>Cups of Coffee</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="fun-fact text-center">
                        <h3><i class="fa fa-code"></i> <span class="st-counter">98236</span></h3>
                        <p>Lines of Code</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /FUN FACTS -->
    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Contact Me</h1>
                        <span class="st-border"></span>
                    </div>
                </div>
                <div class="col-sm-4 contact-info">
                    <p class="contact-content">Please feel free to reach out to me, but no recruiters please.</p>
                    <p class="st-address"><i class="fa fa-map-marker"></i> <strong>Charlotte, NC US</strong></p>

                    <p class="st-email"><i class="fa fa-envelope-o"></i> <strong>alexandersigmon@gmail.com</strong></p>
                    <p class="st-website"><i class="fa fa-globe"></i> <strong><a href="http://www.ajsigmon.azurewebsites.net">www.ajsigmon.azurewebsites.net</a></strong></p>

                </div>
                <div class="col-sm-7 col-sm-offset-1">
                    <form action="php/send-contact.php" class="contact-form" name="contact-form" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name" required="required" placeholder="Name*">
                            </div>
                            <div class="col-sm-6">
                                <input type="email" name="email" required="required" placeholder="Email*">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="subject" placeholder="Subject">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="website" placeholder="Website">
                            </div>
                            <div class="col-sm-12">
                                <textarea name="message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <input type="submit" name="submit" value="Send Message" class="btn btn-send">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /CONTACT -->
    <!-- FOOTER -->
    <!-- /FOOTER -->
    <!-- Scroll-up -->
    <div class="scroll-up">
        <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
    </div>


    <!-- JS -->



</body>
</html>