<!DOCTYPE html>
<html lang="en">
<head>

    @{
        ViewBag.Title = "Home Page";
    }

</head>
<body>

    <!-- PRELOADER -->
    <!-- /PRELOADER -->
    <!-- HEADER -->
    <!-- /HEADER -->
    <!-- SLIDER -->
    <section id="slider" class="index-carousel">
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('../../images/carousel/BusinessServer.jpg');">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7 index-carousel-txt">
                                <h1>AJ Sigmon</h1>
                                <h2>SysAdmin turned developer.</h2>
                                <p>With 5 years of experience in Networking/Infrastructure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url('../../images/carousel/data-center.jpg');">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7 index-carousel-txt">
                                <h1>AJ Sigmon </h1>
                                <h2>likes coding</h2>
                                <p>...and learning about all aspects of technology!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div> <!--/#home-carousel-->
    </section>
    <!-- /SLIDER -->
    <!-- SERVICES -->

    <section class="title-header skills-header" id="skills-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Skills</h1>
                        <span class="st-border"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container ajskills-container">
        <div class="col-md-5 col-sm-12  st-service">
            <h2><i class="fa fa-code"></i>Development</h2>
            <ul class="deviconul">
                <li>
                    <img src="~/images/icon/dev/html5-original-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/css3-original-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/bootstrap-plain-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/javascript-original.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/jquery-original-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/angularjs-original.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/visual-studio-2015-icon.png" />
                </li>
                <li>
                    <img src="~/images/icon/dev/csharp-original.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/dot-net-original-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/Microsoft_SQL_Server_Logo.svg.png" />
                </li>
                <li>
                    <img src="~/images/icon/dev/git-original-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/github-original-wordmark.svg" />
                </li>
            </ul>

        </div>
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-5 col-sm-12 st-service">
            <h2><i class="fa fa-cogs"></i>SysAdmin</h2>
            <ul class="deviconul">
                <li>
                    <img src="~/images/icon/dev/sys/windows8-original.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/Office365.png" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/linux-original.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/ubuntu-plain-wordmark.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/vim-original.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/Aplus Logo Certified CE.jpg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/Cisco_logo.svg" />
                </li>
                <li>
                    <img src="~/images/icon/dev/sys/ssh-original-wordmark.svg" />
                </li>
            </ul>
        </div>
    </div>
    <section id="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>About Me</h1>
                        <span class="st-border"></span>
                    </div>
                </div>
                <div class="container">
                    <div class="col-xs-12 col-md-8" style="text-align: justify;">
                        <p>
                            I have experience working in technology as a systems administrator and I'm pivoting my career to software development. My past has included professional experience with Windows, Linux, computer hardware, and various enterprise software systems. Additionally, I have formal and informal education in the field of IT (see resume).
                        </p>
                        <p>
                            Being a systems administrator was engaging work, and though I was good at it, I wanted a new challenge and decided to change paths. I have a natural talent for technology and cherish the ability to learn about new technologies. The further I delve into software development, the more I see how invaluable it can be for all IT professionals to have solid development skills.
                        </p>
                        <p>
                            I'm not disappointed that I spent years in the field as a systems administrator, because everything I learned in my past is making me a stronger and more effective developer today. I am pleased to say that I enjoy development more than I ever thought possible; in fact, when I’m writing code it doesn't even feel like work.
                        </p>
                        <p>
                            Now that you know a little about me, feel free to reach out to me via the contact section below, or head over to my blog to read about what I'm currently up to!
                        </p>
                    </div>
                    <div class="col-md-4">
                            <img class="img-responsive img-thumbnail" style="margin-top: 80px;"src="~/images/myimgs/IMG_AJ_Sigmon_red.jpg" />
                            @*<img class="img-responsive img-circle" src="~/images/myimgs/IMG_AJ_Sigmon_ThumbTransparent.png" />*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /FUN FACTS -->
    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Contact Me</h1>
                        <span class="st-border"></span>
                    </div>
                </div>
                <div class="col-sm-4 contact-info">
                    <p class="contact-content">Do not hesitate to contact me, I will be pleased to hear from you! No tech recruitment firms please.</p>
                    <p class="st-address"><i class="fa fa-map-marker"></i> <strong>Charlotte, NC US</strong></p>
                    <p class="st-website"><i class="fa fa-globe"></i> <strong><a href="https://ajsigmon.azurewebsites.net/">www.ajsigmon.azurewebsites.net</a></strong></p>

                </div>
                <div class="col-sm-7 col-sm-offset-1">
                    @Html.Partial("_ContactForm")
                </div>
            </div>
        </div>
    </section>
    <!-- /CONTACT -->
    <!-- FOOTER -->
    <!-- /FOOTER -->
    <!-- Scroll-up -->
    <div class="scroll-up">
        <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
    </div>


    <!-- JS -->



</body>
</html>