<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @{
        ViewBag.Title = "Resume";
    }
</head>
<body>
    <section id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Resume</h1>
                        <span class="st-border"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container body-content" id="resumePageBody">
        @*<div class="col-md-1"></div>
        <div class="col-md-10" id="resume-section">*@
            <iframe id="resume-iframe"src="https://docs.google.com/document/d/1jIL1cOd_IxZxdBMfAuuxQwnismA6gzfofRUmE_gG10s/pub?embedded=true"></iframe>
            
            @*<h3>Alexander Jenkins Sigmon (AJ Sigmon)</h3>
                <h3>E-mail: alexandersigmon@gmail.com</h3><br />



            <h5>Summary of Qualifications:</h5><br />
                <p>4.5+ years Infrastructure Management Team, IT Specialist/System Administration, Networking & Telecommunications, Support(w/ on call),
                Studied Computer Science - UNC Charlotte (no degree)
                AAS Computer Information Technology - GTCC
                A+ Certification - CompTIA</p><br />


            <h5>Professional Skills:</h5><br />
            <p>IT Service Management Systems(Zendesk, Solarwinds WHD), Office 365 Admin, Active Directory Domain Admin, Websense(Web Filter/IDS/DLP/DSS), VMware ESXi, VMware vSphere, Solarwinds Network Performance Monitor, Onboarding/Offboarding & Identity Access Management, Druva inSync Admin, ESET Antivirus, Five9 Amin, Windows, Linux , Avaya IP Office Admin, Cisco Switches, Firewalls, VPN, Routers, S2 Netbox (Identity Management/Access Control), LivePerson Admin.</p><br />

                <h5>Education:</h5><br />
            <ul id="resumelist">
                <li style="display: inherit;">AAS Computer Information Technology - Guilford Technical Community</li>
                <li style="display: inherit;">Operating Systems Certification - Guilford Technical Community</li>
                <li style="display: inherit;">Five9 Administrator Certification</li>
                <li style="display: inherit;">A+ Certification - CompTIA</li>
            </ul><br />




            <h5>Work Experience:</h5><br />
            <p>
                February 6th 2012 – May 20th 2016<br />
                Dun & Bradstreet<br />
                Infrastructure Management Team<br /><br />
                <h6>Day to day:</h6>
                1k+ end-users, 7 Offices, Zendesk & Solarwinds WHD ticketing systems, hardware/software, 100+ <br />
                local computers and servers/infrastructure equipment, 750+ remote users, and  home workers (VPN),<br />
                on-going support of infrastructure network & systems both on/off premise.<br />
                Other Duties, Responsibilities, & Experience:<br />
                AWS Work-spaces Configure and Maintain<br />
                On Call Schedule<br /><br />
                <h6>Office 365 Administration:</h6>
                OWA, Office 2010-16, Office 365 Admin, Exchange Online Admin<br /><br />
                <h6>Server:</h6>
                2008, 2012, AD, Group Policy, DNS/DHCP, File Shares, Deployment, WSUS, ArcServe Backup, Ubuntu, & CentOS<br /><br />
                <h6>Storage/Backup:</h6>
                Netgear/Synology NAS, SAMBA, Druva, Arcserve<br />
                ESET Antivirus Administration:<br />
                Antivirus Endpoint, Remote Server Admin<br /><br />
                <h6>Security:</h6>
                Network Security & Evaluation<br />
                Regular Updating/Patching through automation and deployment<br />
                On-Going vulnerability scanning (pin testing)<br />
                Continual research on latest security vulnerabilities and resolution/mitigation<br /><br />
                <h6>Network:</h6>
                Cisco - Routers/Switches/VPN/Firewall/L2 & L3<br />
                Triton Websense - Web-Filter, DSS, DLP, IDS<br />
                Network Security & Data Security Policies and Best Practices<br />
                Firewall Policies<br />
                Business Continuity/Risk Management:<br />
                Analysis & Planning to minimize downtime<br />
                Scheduled "smoke tests" and testing of "roll back/fail over" procedures<br />
                Outage Notification Processes & Procedures<br /><br />
                <h6>Solarwinds:</h6>
                Web Help Desk, Alert Central, Network Monitoring<br />
                <h6>Telecommunications & Data Transport:</h6>
                Network Bandwidth Utilization Analysis/Optimization, Spending Analysis & Cost Reduction, <br />
                Vetted SIP/Data/Telecommunication Providers, Avaya, Five9 VCC Admin<br /><br />
                <h6>Asset Management:</h6>
                Inventorying, Image & Deployment, Patch & Backup,<br />
                PCI DSS Evaluation - Self Assessment Questionnaire D Review<br />
                Many other responsibilities that fall under infrastructure management.<br/>
                </p>
                  <p>  Search Tags:
                    CentOS, Ubuntu, Slax, Windows Server r2, Start Up, Company Culture, AWS, Virtualization, Cloud Applications, iOS & Android Apps

                    </p>*@
@*</div>*@
    </div>
</body>
</html>
